html,
body {
  box-sizing: border-box !important;

  min-width: 100vw !important;
  max-width: 100vw !important;
  min-height: 100vh !important;
  max-height: 100vh !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  /* background-color: darkred !important; */
  /* max-height: 810px !important; */
}

body {
  /* background-color: darkgreen !important; */
  /* max-height: 800px !important; */
}

#root {
  /* background-color: darkblue !important; */
  /* max-height: 790px !important; */

  /* flex-grow: 1; */
  /* width: 100%; */
  /* height: 100%; */
}
